<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chilanka">


<div class="Basement">
  <div class="container" id="baseContainer">
    <div id="subContainer">
<!--     <button type="button" class="btn btn-danger" id="logInBtn" routerLink="members">Just login and Chill with us!</button>-->
      <div class="card text-center">
        <div class="card-header" id="BoxTitle">
          {{BoxTitle}}
        </div>
        <div class="card-body" id="BoxDescription">
         <p>Hey there! Do u like to cook or eat? Simply this is place For you! World's biggest food recipe Community.</p>
          <p>You can know how to prepare 1000+ foods with in one visit.Nevertheless You can Share your Amazing food recipe with Others. </p>
          <p><button type="button" class="btn btn-danger"id="MemberBtn" routerLink="members">Visit Our Member Portal</button></p>
        </div>
      </div>
    </div>
  </div>

</div>

